body {
    height: 100%;
    width: 100%;
    background: black;
}

#mainContent {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 75%;
overflow: scroll;

}

.signOutButton {
    position: absolute;
    left: 25px;
    bottom: 25px;
    
}

.para {
    margin-top: 20px;
}