<body>
    <div class="signOutButton" (click)="authService.SignOut()"> Sign out </div>
    <div id="mainContent">
        <div style="text-align: center; font-size: 30px;">Here's the test</div>
        <div style="display: visible; margin-top: 50px; font-size: 20px;">
            <div class="para">
                At the core of <span style="color:orange">Spotly, </span>community is everything.
                Eliminating the headaches of parking for the general public is just one of the missions for Spotly.
                Empowering community members by becoming Spotly Hosts on this new platform is both economically sensible
                and environmentally conscious.
                In doing this, Spotly will drastically reduce the amount of land that's destroyed to build more
                unnecessary parking lots, cut the time
                wasted driving aimlessly searching for a parking spot and provide side income to the Hosts who need it.
            </div>
            <div class="para">
                We want to learn more about you! Please submit a video tellings us a little about you, your experience,
                and reason for wanting to join Spotly.
                The video can be as long or as short as deemed necessary. Feel free to include some of your projects and/or portfolio.
            </div>
            <div class="para">
                For submission, please email a link to your video to  <span style="color: orange">executive@parkspotly.com.</span> YouTube or any other video hosting solution will be
                fine. Just make sure the video uploaded
                allows for anyone to view! Video submissions will be accepted until July 1, 2020. Videos will be
                reviewed by July 5, 2020. You will recieve an
                email on that date regarding moving foward.
            </div>
            <div class="para">
                Hope to hear from you soon.
            </div>
            <div class="para">
                As always, <span style="color: orange">Park Smartly, @ParkSpotly.</span>
            </div>
            </div>
            </div>
       
</body>